* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

ul.no-style {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

header .header-top {
  background-color: #0282f9;
  padding: 6px 0;
  color: #fff;
  font-size: 0.9em;
  text-transform: uppercase;
}
header .header-top ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-top ul li a {
  color: #fff;
}
header .header-bottom {
  color: #464646;
}
header .header-bottom .navbar {
  display: flex;
  align-items: center;
}
header .header-bottom .navbar .logo img {
  height: 90px;
}
header .header-bottom .navbar ul {
  display: flex;
  align-items: center;
}
header .header-bottom .navbar ul li {
  padding: 0 14px;
}
header .header-bottom .navbar ul li a {
  color: #464646;
  text-transform: uppercase;
}
header .header-bottom .navbar ul li a.active {
  color: #0282f9;
  border-bottom: 6px solid #0282f9;
  padding-bottom: 37px;
}
header .jumbo {
  height: 305px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  background-position: top;
}

main#home-main {
  background-color: #000;
  color: #fff;
  padding-top: 40px;
  text-transform: uppercase;
}
main#home-main .main-top a {
  color: #fff;
}
main#home-main .main-top .comic .image {
  background-size: cover;
  background-position: top;
  height: 160px;
}
main#home-main .main-top .comic .text {
  padding-top: 14px;
}
main#home-main button {
  background-color: #0282f9;
  text-transform: uppercase;
  padding: 5px 43px;
  border: 0;
  color: #fff;
  font-weight: 700;
}